node_modules
dist
.env
.env.local
*.log

admin-panel/src/firebase/serviceAccountKey.json

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store
*.pid
*.seed
*.pid.lock

coverage
*.lcov
.nyc_output

screenshots
uploads
temp

admin-panel/dist
admin-panel/build
admin-panel/.env.local
admin-panel/node_modules

prisma/migrations
!prisma/migrations/.gitkeep
